:root{
  --font-family-main: Consolas, "Times New Roman", Serif;
  --font-size-m:16px;
  --font-line-m:24px;
  --font-m:var(--font-size-m)/var(--font-line-m) var(--font-family-main);

  --font-size-l:24px;
  --font-line-l:32px;
  --font-l:var(--font-size-l)/var(--font-line-l) var(--font-family-main);

  --navbar-height:50px;
  --sidebar-width:300px;
  --sidebar-width-collapsed:80px;

  --bg-color: #fff;
  --inverted-bg-color: #393939;
  --primary-color: #393939;
  --secondary-color: rgb(var(--primary-color) 0.5);
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #e6e6e6;
}

.app.dark {
  font:var(--font-m);
  background: var(--bg-color);
  color:var(--primary-color);
  min-height: 100vh;
}