.Button{
cursor:pointer;
color:var(--primary-color);
}
.clear{
    padding: 0;
    border: none;
    background: none;
    outline: none;
}
.outline{
    padding: 10px 15px;
    border:1px solid var(--primary-color);
    color:var(--primary-color);
    background: none;
}